body{
    background: #82FA58;
    font-family: 'Livvic', sans-serif;
    margin-left: 200px;
    margin-right: 200px;
}

header{
    margin-top: 30px;
}

h1, h2, h3, h4, h5, h6, p{
    color: #424242;
}

img.padrao{
    margin-bottom: 20px;
    width: 300px;
}

img.icon{
    margin: none;
}
 footer{
     margin-bottom: 30px;
 }